* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-flow: column nowrap;
}

.intern-margin {
  padding: 0 50px;
}

.header {
  background: url(bg.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
}

.nav-menu {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.logo {
  flex: 1 1 auto;
}

.logo a {
  font-size: 30px;
  color: #fff;
}

.logo a:hover {
  color: #343434;
}

.nav {
  flex: 5 1 auto;
}

.nav a {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
  color: #fff;
}

.nav a:hover {
  color: #343434;
}

.social {
  flex: 1 1 auto;
  display: flex;
}

.social a {
  font-size: 30px;
  padding: 0;
  color: #fff;
}

.social a:hover {
  color: #343434;
}

.principal-text {
  height: 580px;
  display: flex;
  align-items: center;
}

h1 {
  font-family: "Lora", serif;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  line-height: 1.6;
}

.section {
  display: flex;
  background: #f7f7f7;
  margin-bottom: 30px;
}

.articles {
  background: #f7f7f7;
  flex: 2 1 auto;
  display: flex;
  flex-flow: row wrap;
}

.article {
  flex: 1 1 40%;
  color: #444;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 10px 10px 0 0px;
  flex: 1 1 45%;
  background: #ececec;
}

.article img {
  width: 100%;
}

.article a {
  color: #fff;
  font-size: 13px;
  padding: 10px;
  background: #000;
  margin: 10px 0;
  display: inline-block;
}

.article a:hover {
  background: #546cc3;
}

h3 {
  color: #fff;
  font-size: 13px;
  padding: 10px 0;
  margin-top: -80px;
}

h2 {
  font-size: 25px;
  text-transform: uppercase;
  padding: 0px 0 10px 0;
  color: #fff;
}

.navigation {
  background: #000;
  flex: 1 1 100%;
  margin: 10px 10px 0 0px;
}

.navigation a {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
}

.aside {
  flex: 1 1 auto;
  margin: 10px 5px 10px 0;
}

.aside img {
  width: 100%;
}

h4 {
  background: #000;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
}

.footer {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 50px;
  align-items: center;
}

.nav-footer {
  width: 300px;
  text-align: center;
}

.nav-footer a {
  color: #000;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
}

@media all and (max-width: 1120px) {
  .nav-menu {
    flex-direction: column;
    height: auto;
  }
  .section {
    flex-direction: column;
  }
  .aside {
    display: flex;
    justify-content: center;
  }
  h1 {
    font-size: 15px;
  }
  .principal-text {
    height: 450px;
  }
}

@media all and (max-width: 762px) {
  .articles {
    flex-direction: column;
  }
}

@media all and (max-width: 650px) {
  .off {
    display: none;
  }

  .nav-menu a {
    font-size: 30px;
  }
}

@media all and (max-width: 400px) {
  .aside {
    flex-direction: column;
  }
}
